# caddy
SERVICE_DOMAIN=...
CLOUDFLARE_API_TOKEN=...

# vw
VW_PUSH_INSTALLATION_ID=...
VW_PUSH_INSTALLATION_KEY=...
# vw backup
VAULTWARDEN_BACKUP_ENCRYPTION_PASSWORD=...
VAULTWARDEN_BACKUP_HC_URL=...

# cron healthchecks url
HEALTHCHECKS_URL_RCLONE_VW_BACKUP=...
HEALTHCHECKS_URL_I_AM_ALIVE=...
