SERVICE_DOMAIN=...
PERSONAL_DOMAIN=...
# directory for bind mounted volumes containing apps' state and data
APP_DATA=...
FILESHARE_PATH=...
MUSIC_ROOT_PATH=...
DOWNLOADS_PATH=...
BACKUP_PATH=...
TZ=Asia/...

# getent group render | cut -d: -f3
# for non-root containers using ffmpeg and HW-accelerated transcoding with QSV or VAAPI
GID_RENDER=...
