{
    servers {
        strict_sni_host on
        trusted_proxies_strict
	# cloudflared tunnels
        trusted_proxies static 192.168.0.0/24
        client_ip_headers CF-Connecting-IP
    }
}

(tls) {
    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

(x_real_ip) {
    header_up x-real-ip "{client_ip}"
}

vw.{$SERVICE_DOMAIN},
vw-ext.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy vw:80
}

(proxy_copyparty) {
    reverse_proxy http://copyparty:3923 {
        import x_real_ip
    }
}

drive.{$SERVICE_DOMAIN} {
    import tls
    import proxy_copyparty
}

drive-ext.{$SERVICE_DOMAIN} {
    import tls
    @public_paths {
	method GET HEAD OPTIONS TRACE
        path /shared-links/public*
        path /.cpr/w/*
    }
    handle @public_paths {
        import proxy_copyparty
    }
    handle {
        abort
    }
}

http://drive.{$SERVICE_DOMAIN} {
    @fpkgi {
        protocol http
        path /fpkgi/*
    }
    handle @fpkgi {
        import proxy_copyparty
    }
    handle {
        redir https://drive.{$SERVICE_DOMAIN}{uri} permanent
    }
}

slskd.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy slskd:5030
}

torrents.{$SERVICE_DOMAIN} {
    import tls
    handle /transmission/* {
        reverse_proxy transmission:9091 {
            import x_real_ip
        }
    }
    handle {
        reverse_proxy flood:3000
    }
}

aria.{$SERVICE_DOMAIN} {
    import tls
    @rpc {
        path /rpc
        path /jsonrpc
    }
    handle @rpc {
        reverse_proxy aria2:6800
    }
    handle {
        file_server {
            root /static/aria-ng
        }
    }
}

pyload.{$SERVICE_DOMAIN} {
    import tls
    handle {
        reverse_proxy http://pyload:8000
    }
}

picard.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy picard:5800
}

music.{$SERVICE_DOMAIN},
music-ext.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy navidrome:4533
}
# separate domain for octo-fiesta
# acts as a simple switch to easily toggle between
# clean navidrome and octo-fiesta-powered navidrome API
music2.{$SERVICE_DOMAIN},
music2-ext.{$SERVICE_DOMAIN} {
    import tls
    handle /rest/* {
        reverse_proxy navidrome-octo-fiesta:8080
    }
    # octo-fiesta should not intercept any other apis
    handle {
        reverse_proxy navidrome:4533
    }
}

photos.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://immich-server:2283
}

photos-ext.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://immich-public-proxy:3000
}

timeline-ext.{$SERVICE_DOMAIN},
timeline.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://geopulse-ui:80
}

where-is.{$PERSONAL_DOMAIN} {
    import tls
    reverse_proxy http://hauk:8080
}

links.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://linkwarden-server:3000
}

pihole.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://pihole:80
}

smart.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://scrutiny:8080
}

feed.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://miniflux-server:8080
}

# chat.{$SERVICE_DOMAIN} {
#     import tls
#     reverse_proxy owui:8080
# }
