{
    order crowdsec first
    order appsec after crowdsec

    crowdsec {
        api_url http://crowdsec:8080
        api_key {env.CROWDSEC_API_KEY}
        ticker_interval 15s
        appsec_url http://crowdsec:7422
        # see also: https://github.com/crowdsecurity/crowdsec/issues/3837
        appsec_max_body_bytes 2097152
    }

    servers {
        strict_sni_host on
        trusted_proxies_strict
	    # cloudflared tunnels
        trusted_proxies static 192.168.0.0/24
        client_ip_headers CF-Connecting-IP
    }
}

(tls) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

(rproxy) {
    reverse_proxy {args[:]} {
        {block}
        header_up x-forwarded-for "{client_ip}"
        header_up x-real-ip "{client_ip}"
    }
}

(external) {
    import tls
    log
    crowdsec
    appsec
}

vw.{$SERVICE_DOMAIN},
vw-ext.{$SERVICE_DOMAIN} {
    import external
    import rproxy vw:80
}

# internal copyparty
https://drive.{$SERVICE_DOMAIN} {
    import tls
    import rproxy copyparty:3923
}

# faster cleartext http for PS4 FPKGi copyparty
http://drive.{$SERVICE_DOMAIN} {
    handle /fpkgi/* {
        import rproxy copyparty:3923
    }
    handle {
        redir https://drive.{$SERVICE_DOMAIN}{uri} permanent
    }
}

# public copyparty
files.{$PERSONAL_DOMAIN} {
    import external
    # disable public GET access to /fpkgi/ volume
    handle /fpkgi/* {
        redir https://youtu.be/dQw4w9WgXcQ permanent
    }
    handle {
        import rproxy copyparty:3923
    }
}

files.{$SERVICE_DOMAIN} {
    import external
    @allow path /shared-links/* /.cpr/*
    handle @allow {
        import rproxy copyparty:3923
    }
    handle {
        redir https://youtu.be/dQw4w9WgXcQ permanent
    }
}

(collabora) {
    @collabora path_regexp ^/(browser|cool|hosting/(discovery|capabilities))(/.*)?$
    handle @collabora {
        import rproxy http://collabora:9980
    }
    handle {
        redir https://youtu.be/dQw4w9WgXcQ permanent
    }
}

office.{$SERVICE_DOMAIN} {
    import tls
    import collabora
}

office.{$PERSONAL_DOMAIN},
office-ext.{$SERVICE_DOMAIN} {
    import external
    import collabora
}

slskd.{$SERVICE_DOMAIN} {
    import tls
    import rproxy slskd:5030
}

torrents.{$SERVICE_DOMAIN} {
    import tls
    import rproxy flood:3000
}
# raw transmission UI is needed sometimes when some features are missing in flood
transmission.{$SERVICE_DOMAIN} {
    import tls
    import rproxy transmission:9091
}

aria.{$SERVICE_DOMAIN} {
    import tls

    @rpc path /rpc /jsonrpc
    handle @rpc {
        import rproxy aria2:6800
    }
    handle {
        file_server {
            root /static/aria-ng
        }
    }
}

pyload.{$SERVICE_DOMAIN} {
    import tls
    import rproxy http://pyload:8000
}

yt-dlp.{$SERVICE_DOMAIN} {
    import tls
    import rproxy metube:8081
}

# probably should host it on github/cloudflare/codeberg pages
# for public availability
ps4jb.{$SERVICE_DOMAIN},
ps4jb.{$PERSONAL_DOMAIN} {
    import external
    file_server {
        root /static/ps4-jb-webkit
    }
}

picard.{$SERVICE_DOMAIN} {
    import tls
    import rproxy picard:5800
}

music.{$SERVICE_DOMAIN},
music.{$PERSONAL_DOMAIN} {
    import external
    import rproxy navidrome:4533
}

# octo-fiesta, don't expose non-subsonic API at all
music2.{$SERVICE_DOMAIN},
music2.{$PERSONAL_DOMAIN} {
    import external
    import rproxy /rest/* navidrome-octo-fiesta:8080
}

# audiomuse front end
sonic.{$SERVICE_DOMAIN} {
    import tls
    import rproxy audiomuse-app:8000
}

explo.{$SERVICE_DOMAIN} {
    import tls
    import rproxy explo:7288
}

photos.{$SERVICE_DOMAIN} {
    # once published, enable appsec and crowdsec, but disable appsec for upload endpoint
    # https://github.com/crowdsecurity/crowdsec/issues/3837
    # https://github.com/crowdsecurity/crowdsec/issues/3837#issuecomment-4461594088
    import tls
    import rproxy http://immich-server:2283
}

photos.{$PERSONAL_DOMAIN} {
    import external
    import rproxy http://immich-public-proxy:3000
}

timeline-ext.{$SERVICE_DOMAIN},
timeline.{$SERVICE_DOMAIN} {
    import external
    import rproxy http://geopulse-ui:80
}

where-is.{$PERSONAL_DOMAIN} {
    import external
    import rproxy http://hauk:8080
}

links.{$SERVICE_DOMAIN} {
    import tls
    import rproxy http://linkwarden-server:3000
}

pihole.{$SERVICE_DOMAIN} {
    import tls
    import rproxy http://pihole:80
}

smart.{$SERVICE_DOMAIN} {
    import tls
    import rproxy http://scrutiny:8080
}

feed.{$SERVICE_DOMAIN} {
    import tls
    import rproxy http://miniflux-server:8080
}

# chat.{$SERVICE_DOMAIN} {
#     import tls
#     import rproxy owui:8080
# }

(memos) {
    @api path /api/v1/* /o/r/*
    handle @api {
        import rproxy mortis:5231
    }
    handle {
        import rproxy memos:5230
    }
}

memos.{$SERVICE_DOMAIN} {
    import tls
    import memos
}

memos.{$PERSONAL_DOMAIN} {
    import external
    # memos web ui tries to refresh token for unauthorized user
    # which triggers crowdsec 401-bf scenario
    # here we bypass that by aborting the request instead of 401
    @api_refresh_without_token {
        path /memos.api.v1.AuthService/RefreshToken
        header !Authorization
        header !Cookie
    }
    handle @api_refresh_without_token {
        abort
    }
    import memos
}


tmp-navidrome.{$PERSONAL_DOMAIN} {
    import external
    import rproxy arpeggi-tmp-navidrome:4533
}

tmp-octo-fiesta.{$PERSONAL_DOMAIN} {
    import external
    import rproxy /rest/* arpeggi-tmp-octo-fiesta:8080
}
