(tls) {
    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

vw.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy vw:80
}

drive.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://copyparty:3923
}

picard.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy picard:5800
}

music.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy navidrome:4533
}
# separate domain for octo-fiesta
# acts as a simple switch to easily toggle between
# clean navidrome and octo-fiesta-powered navidrome API
music2.{$SERVICE_DOMAIN} {
    import tls
    handle /rest/* {
        reverse_proxy navidrome-octo-fiesta:8080
    }
    # octo-fiesta should not intercept any other apis
    handle {
        reverse_proxy navidrome:4533
    }
}

photos.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://immich-server:2283
}

links.{$SERVICE_DOMAIN} {
    import tls
    reverse_proxy http://linkwarden-server:3000
}

# chat.{$SERVICE_DOMAIN} {
#     import tls
#     reverse_proxy owui:8080
# }
