# docs mark /opt/explo/.env as required
# so I use it in both env_file and volumes sections of docker-compose.yml

# container env
PUID=1000
PGID=1000
TZ=${TZ:-UTC}

# app env secret
UI_USERNAME=
UI_PASSWORD=...
LISTENBRAINZ_USER=...
LISTENBRAINZ_USER_TOKEN=...
SYSTEM_USERNAME=...
SYSTEM_PASSWORD=...
SLSKD_API_KEY=...

# app env not secret
WEB_UI=true
DISCOVERY_SERVICE=listenbrainz
LISTENBRAINZ_DISCOVERY=playlist
ENRICH_TRACK_METADATA=true
EXPLO_SYSTEM=subsonic
SYSTEM_URL=http://navidrome:4533
DOWNLOAD_SERVICES=slskd,youtube
EMBED_COVER_ART=true
SLSKD_URL=http://slskd:5030
MIGRATE_DOWNLOADS=true
USE_SUBDIRECTORY=true
OVERWRITE_METADATA=true
EXTENSIONS=opus,mp3,aac,m4a,flac,ogg
SINGLE_ARTIST=false
PLAYLISTNAME_FORMAT=date

WEEKLY_EXPLORATION_FLAGS=--playlist weekly-exploration
WEEKLY_JAMS_FLAGS=--playlist weekly-jams
DAILY_JAMS_FLAGS=--playlist daily-jams

WEEKLY_EXPLORATION_SCHEDULE=15 00 * * 2
WEEKLY_JAMS_SCHEDULE=30 00 * * 1
# DAILY_JAMS_SCHEDULE=15 01 * * *

WIZARD_COMPLETE=true
