# all env vars: https://docs.immich.app/install/environment-variables

######### only used in server container
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=...
######### /only used in server container

#########  used in server and db containers
IMMICH_DB_PASSWORD=...
# These values do not need to be changed
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich
# /These values do not need to be changed
#########  /used in server and db containers

######### docker compose only, not used inside of containers
# You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=v2
######### /docker compose only, not used inside of containers
