SLSKD_REMOTE_CONFIGURATION=true
SLSKD_SLSK_NO_DNET=false
SLSKD_SHARED_DIR=/slskd-shares
SLSKD_SHARE_CACHE_STORAGE_MODE=memory

SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=
SLSKD_USERNAME=
SLSKD_PASSWORD=

SLSKD_SLSK_DESCRIPTION='If you see this that means I forgot to update my .env file'
