SLSKD_REMOTE_CONFIGURATION=true
# disable distributed network behind cgnat
SLSKD_SLSK_NO_DNET=true
SLSKD_SLSK_DESCRIPTION=Unfortunately I'm behind CGNAT so I can't share anything.

SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=
SLSKD_USERNAME=
SLSKD_PASSWORD=
