# inside containers
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DB=audiomusedb

POSTGRES_HOST=audiomuse-postgres
POSTGRES_PORT=5432
REDIS_URL=redis://audiomuse-redis:6379/0

# docker-compose.yml
APP_VERSION=3.0.1

# docker-compose.yml AND inside containers
TEMP_DIR=/app/temp_audio
TZ=${TZ:-UTC}
