NEXTAUTH_SECRET=...
POSTGRES_PASSWORD=...
MEILI_MASTER_KEY=...
OPENROUTER_API_KEY=...


NEXTAUTH_URL=http://localhost:3000/api/v1/auth
OPENROUTER_MODEL='openai/gpt-5-nano'
MEILI_HOST=http://linkwarden-meilisearch



# # Additional Optional Settings
# PAGINATION_TAKE_COUNT=
# STORAGE_FOLDER=
# AUTOSCROLL_TIMEOUT=
# NEXT_PUBLIC_DISABLE_REGISTRATION=
# NEXT_PUBLIC_CREDENTIALS_ENABLED=
# DISABLE_NEW_SSO_USERS=
# MAX_LINKS_PER_USER=
# ARCHIVE_TAKE_COUNT=
# BROWSER_TIMEOUT=
# IGNORE_UNAUTHORIZED_CA=
# IGNORE_HTTPS_ERRORS=
# IGNORE_URL_SIZE_LIMIT=
# NEXT_PUBLIC_DEMO=
# NEXT_PUBLIC_DEMO_USERNAME=
# NEXT_PUBLIC_DEMO_PASSWORD=
# NEXT_PUBLIC_ADMIN=
# NEXT_PUBLIC_MAX_FILE_BUFFER=
# PDF_MAX_BUFFER=
# SCREENSHOT_MAX_BUFFER=
# READABILITY_MAX_BUFFER=
# PREVIEW_MAX_BUFFER=
# MONOLITH_MAX_BUFFER=
# MONOLITH_CUSTOM_OPTIONS=
# IMPORT_LIMIT=
# PLAYWRIGHT_LAUNCH_OPTIONS_EXECUTABLE_PATH=
# PLAYWRIGHT_WS_URL=
# MAX_WORKERS=
# DISABLE_PRESERVATION=
# NEXT_PUBLIC_RSS_POLLING_INTERVAL_MINUTES=
# RSS_SUBSCRIPTION_LIMIT_PER_USER=
# TEXT_CONTENT_LIMIT=
# SEARCH_FILTER_LIMIT=
# INDEX_TAKE_COUNT=
# MEILI_TIMEOUT=

# # PDF archive settings
# PDF_MARGIN_TOP=
# PDF_MARGIN_BOTTOM=

# # SMTP Settings
# NEXT_PUBLIC_EMAIL_PROVIDER=
# EMAIL_FROM=
# EMAIL_SERVER=
# BASE_URL=
