# not actually YAML but lets pretend:
# -*- mode: yaml -*-
# vim: ft=yaml:


[global]
# general
  name: nas-drive   # name displayed in web ui
  ansi              # enable colors in log messages (both in logfiles and stdout)
  usernames
  hist: /hist
  shr: /shared-links
  shr-site: https://files.${PERSONAL_DOMAIN}/
  shr-adm: @${GROUP1NAME}

# file management
  e2dsa             # enable file indexing and filesystem scanning
  e2ts              # enable multimedia indexing
  daw               # enable proper WebDAV
  u2ow: 1           # overwrite files on upload if same name and uploaded file is newer
  wopi              # enable WOPI (collabora)
  wopi-url: https://youtu.be/dQw4w9WgXcQ # default WOPI url
  wopi-urls: drive.${SERVICE_DOMAIN}=https://office.${SERVICE_DOMAIN}
  wopi-urls: files.${PERSONAL_DOMAIN}=https://office.${PERSONAL_DOMAIN}
  wopi-urls: files.${SERVICE_DOMAIN}=https://office-ext.${SERVICE_DOMAIN}

# reverse proxy
  xff-hdr: x-real-ip
  # since installing collabora we are trusting it to not send us xff header until changing the networks to make it impossible
  xff-src: lan      # trust x-forwarded-for header for requests coming from these networks # lan is fine since only caddy is in lan
  rproxy: 1         # which ip to associate clients with; [0]=tcp, [1]=origin (first x-fwd, unsafe), [2]=outermost-proxy, [3]=second-proxy, [-1]=closest-proxy

# disable https – let reverse proxy handle it
  no-crt
  http-only

# security or smth like that
  no-robots
  force-js
  # https://copyparty.eu/cli/#ls-help-page
  ls: *,*,ln,p,r


[accounts]
  ${USER1NAME}:${USER1PASS}
  ${USER2NAME}:${USER2PASS}
  obsidian:${OBSIDIAN_PASS}
  books_ro:${BOOKS_RO_PASS}
  media_ro:${MEDIA_RO_PASS}

[groups]
  ${GROUP1NAME}: ${USER1NAME}, ${USER2NAME}

[/]
  /w
  accs:
    r: @${GROUP1NAME}
    r: media_ro
  flags:
    davauth
[/public]
  /w/public
  accs:
    r: *
    A: ${USER1NAME}
  flags:
    dthumb
    dotpart
[/share]
  /w/share
  accs:
    A: @${GROUP1NAME}
[/${USER1NAME}]
  /w/${USER1NAME}
  accs:
    A: ${USER1NAME}
[/${USER2NAME}]
  /w/${USER2NAME}
  accs:
    A: ${USER2NAME}
[/fpkgi]
  /w/${USER1NAME}/downloads/torrents/ps4-games
  accs:
    g: *
  flags:
    on404: /handlers/fpkgi.py
# read-only for mysef to prevent random unwanted operations
[/obsidian]
  /w/obsidian
  accs:
    rwmd.: obsidian
    r.: ${USER1NAME}
[/books]
  /w/${USER1NAME}/books
  accs:
    r: books_ro
    r: media_ro
  flags:
    rss
    opds
    opds_exts: fb2,fb3,fbz,zip,epub,mobi,mp3,m4b,pdf,djvu
# well, at this point I should consider folder restructurization, it's getting complex
[/downloads]
  /w/${USER1NAME}/downloads
  accs:
    r: media_ro
[/uploads]
  /w/${USER1NAME}/iphone-uploads
  accs:
    r: media_ro
[/old-videos]
  /w/${USER1NAME}/old-videos
  accs:
    r: media_ro
[/music]
  /w/${USER1NAME}/music
  accs:
    r: media_ro
