# not actually YAML but lets pretend:
# -*- mode: yaml -*-
# vim: ft=yaml:


[global]
# general
  name: nas-drive   # name displayed in web ui
  name-url: /
  ansi              # enable colors in log messages (both in logfiles and stdout)
  usernames
  hist: /hist
  shr: /shared-links
  shr-site: https://files.${PERSONAL_DOMAIN}/
  shr-adm: @${GROUP1NAME}

# file and multimedia management
  e2dsa             # enable file indexing and filesystem scanning
  daw               # enable proper WebDAV
  u2ow: 1           # overwrite files on upload if same name and uploaded file is newer
  e2ts              # enable multimedia indexing
  re-maxage: 3600   # rescan fs for changes every N seconds
  no-bacode         # disable batch audio transcoding
  q-mp3: 0          # (try to) disable transcoding to mp3
  dotpart
  # no-acode          # completely disable audio transcoding
  # e2tsr  # reset multimedia index and rescan

# collabora: wopi
  wopi              # enable WOPI (collabora)
  wopi-url: https://youtu.be/dQw4w9WgXcQ     # default WOPI url
  wopi-urls: drive.${SERVICE_DOMAIN}=https://office.${SERVICE_DOMAIN}
  wopi-urls: files.${PERSONAL_DOMAIN}=https://office.${PERSONAL_DOMAIN}
  wopi-urls: files.${SERVICE_DOMAIN}=https://office-ext.${SERVICE_DOMAIN}
  wopi-ttl: 14400

# collabora: thumbnails
  th-mt: 2    # limit number of thumbnailer threads
  # # writer
  # # exclude basic text because I don't like it (txt, md)
  # th-extract: sxw,odt,fodt,stw,ott,doc,dot,docx,docm,dotx,dotm,wpd,pdb,hwp,wps,wri,lrf,mw,rtf,fb2,cwk,pages,abw,602,sxg,odm,otm,oth=/plugins/thumbs/collabora.py
  th-extract: fb2,pdf,doc,docx=/plugins/thumbs/collabora.py
  # # calc
  # th-extract: sxc,ods,fods,stc,ots,xls,xla,xltx,xltm,xlsx,xlsb,xlsm,dif,slk,csv,tsv,dbf,wk1,wks,xlr,123,qpw,wb1,wq1,wq2,gnumeric,numbers=/plugins/thumbs/collabora.py
  # # impress
  # th-extract: sxi,odp,fodp,sti,otp,ppt,pot,pptx,pptm,potx,potm,ppsx,cgm,key=/plugins/thumbs/collabora.py
  # # draw
  # # exclude {'bmp', 'emf', 'gif', 'jpeg', 'jpg', 'png', 'svg', 'tiff', 'wmf'} – already supported by copyparty
  # th-extract: sxd,odg,fodg,std,otg,dxf,cdr,vsd,vsdx,vss,pub,p65,wpg,fh,pdf=/plugins/thumbs/collabora.py

  th-extr-cv: !doc,docx    # https://github.com/9001/copyparty/pull/1616

# reverse proxy
  xff-hdr: x-real-ip
  xff-src: lan      # trust x-forwarded-for header for requests coming from these networks # lan is fine since only caddy is in lan
  rproxy: 1         # which ip to associate clients with; [0]=tcp, [1]=origin (first x-fwd, unsafe), [2]=outermost-proxy, [3]=second-proxy, [-1]=closest-proxy
  no-crt
  http-only

# security or smth like that
  no-robots
  force-js
  # https://copyparty.eu/cli/#ls-help-page
  ls: *,*,ln,p,r


# fpkg vault
  on404: /remote_plugins/fpkg_vault.py
  on403: /remote_plugins/fpkg_vault.py
  mte: +type,category,title,title_id,content_id,app_ver,version,system_ver
  mtp: type,category,title,title_id,content_id,app_ver,version,system_ver=ad,epkg,c1,f,/remote_plugins/fpkg_vault.py
  th-extract: pkg=/remote_plugins/fpkg_vault.py
  js-browser: /__fpkgv/script.js
  css-browser: /__fpkgv/style.css


# ui options
  gsel
  ui-filesz: 4c
  rcm: yy
  glang
  nsort
  qdel: 2
  theme: 2
  spinner: 🫡
  du-who: auth
  dl-list: 1
  ups-who: 1
  th-x3: fy

[accounts]
  ${USER1NAME}:${USER1PASS}
  ${USER2NAME}:${USER2PASS}
  obsidian:${OBSIDIAN_PASS}
  books_ro:${BOOKS_RO_PASS}
  media_ro:${MEDIA_RO_PASS}

[groups]
  ${GROUP1NAME}: ${USER1NAME}, ${USER2NAME}

[/]
  /w
  accs:
    r: @${GROUP1NAME}
    r: media_ro
  flags:
    davauth
[/public]
  /w/public
  accs:
    r: *
    A: ${USER1NAME}
[/public/fpkg-demo]
  /w/public/fpkg-demo
  accs:
    r: *
    A: ${USER1NAME}
  flags:
    crop: fn
[/share]
  /w/share
  accs:
    A: @${GROUP1NAME}
[/${USER1NAME}]
  /w/${USER1NAME}
  accs:
    A: ${USER1NAME}
[/${USER2NAME}]
  /w/${USER2NAME}
  accs:
    A: ${USER2NAME}
  flags:
    d2d
[/${USER2NAME}/photo-recovery]
  /photo-recovery
  accs:
    A: ${USER2NAME}
  flags:
    dthumb    # lol
    d2d
# read-only for mysef to prevent random unwanted operations
[/obsidian]
  /w/obsidian
  accs:
    rwmd.: obsidian
    r.: ${USER1NAME}
[/books]
  /w/${USER1NAME}/books
  accs:
    r: books_ro
    r: media_ro
  flags:
    rss
    opds
    opds_exts: fb2,fb3,fbz,zip,epub,mobi,mp3,m4b,pdf,djvu
# well, at this point I should consider folder restructurization, it's getting complex
[/downloads]
  /w/${USER1NAME}/downloads
  accs:
    r: media_ro
[/uploads]
  /w/${USER1NAME}/iphone-uploads
  accs:
    r: media_ro
[/old-videos]
  /w/${USER1NAME}/old-videos
  accs:
    r: media_ro
[/music]
  /w/${USER1NAME}/music
  accs:
    r: media_ro
